ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body{
    font-family:Calibri, sans-serif;
    background-color:azure;
}
th{
    font-size:18px;
    color:#000000;  
}
table, tr,th,td{
    border: 2px solid;
    border-color: blue;
    border-collapse:collapse;
    padding:4px 5px 4px 4px;
    text-align: center;
}
.title{
    font-size:18px;
    color:#456FEA;
}
